beautifulsoup4==4.12.3
Flask==3.0.3
langchain==0.3.7
langchain_chroma==0.1.4
langchain_community==0.3.5
langchain_core==0.3.15
langchain_google_genai==2.0.4
langchain_openai==0.2.6
langchain_text_splitters==0.3.2
openai==1.54.3
pyTelegramBotAPI==4.23.0
python-dotenv==1.0.1
streamlit==1.37.1
